* -text whitespace=cr-at-eol
integration_before_binding_fix.log -text whitespace=-blank-at-eol,-blank-at-eof,cr-at-eol
integration_before_binding_fix.xml -text whitespace=-blank-at-eol,-blank-at-eof,cr-at-eol
